@import url(http://fonts.googleapis.com/css?family=Roboto);
html, #content { 
	height: 100%; 
	overflow: hidden;
	}
	
header {
	background:#333;
	height:85px;
	width:100%;
	box-sizing: border-box;
	position:relative;
	z-index: 1001;
	padding-top:65px;
  }

h1 {
	font-family: 'Roboto', sans-serif;
	white-space:nowrap;
	color: #ddd;
}
  
body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0; 
	padding: 0; 
	}
  
thead {
	margin-bottom:10px;
}
iframe {
	width:100%;
	height:100%;
}
#window_0{
	opacity:0.6 !important;
	transition: opacity 1s ease-in-out;
}
#window_0:hover{
	opacity:1 !important;
}
#topNavMenu{
	margin-left:180px;
}
#topNavMenu>li{
	font-size: 0.6em;
	float:left;
	color:white;
}
#topNavMenu>li:hover{
	color:#008b00;
	cursor:pointer;
}
#map_canvas, div#section  {
	height: 100%;
   }
   
div#section{
	float:left;
	width:100%; 
	transition: all 1s ease-in-out;
  }
  
div#viewer360{
	float:left;
	overflow: hidden;
	width:0px;
	display:block;
	height:100% !important;
	transition: all 1s ease-in-out;
	position:relative;
	z-index:999;
}
div#toggleViewerButton{
	position: absolute;
	top:0px;
	right:0px;
	width:20px;
	height:150px;
	z-index:1002;
	cursor:pointer;
	opacity:0.9;
}
div#toggleViewerButton:hover{
	opacity:1;
}
div#toggleCaptionButton{
	position:absolute;
	top:0px;
	right:0px;
	cursor:pointer;
	opacity: 0.9;
	z-index:1002;
}
div#toggleCaptionButton:hover{
	opacity:1;
}
#POIsTable, #POIsTable_info{
	width:100%;	
}  
#POIsTable_length {
	width:50%;
}
img#logo{
	padding:5px;
	position:absolute;
	top:2px;
	left:5px;
} 

h1#webTitle {
	margin-top:-40px;
	margin-left:50px;
}
div#POITable{
	display:none;
}
img.POIThumb, span.POIThumb{
	display: table-cell;
	vertical-align: middle;
}
span.POIThumb{
	font-size:0.8em;
	padding-left:5px;
}
div.POIElement{
	display: table;
	width:200px;
	min-height:50px;
	color:white;
	padding:10px;
	box-sizing:border-box;
	background-color: #333;
	border-bottom: 1px solid white;
	cursor:pointer;
}
div.POIElement:hover{
	background-color: #555;
	cursor:pointer;
}
#socialButtons{
position: absolute;
right: 10px;
top: 10px;
}
div#titleViewBar{
	padding:20px;
	box-sizing: border-box;
	width:100%;
	height:200px;
	background-color: black;
	position:absolute;
	bottom:0px;
	left:0px;
	opacity:0.7;
	z-index:1001;
	transition: all 1s ease-in-out;
}
span.titleLocation{
	color:white;
}
.littleButton{
	margin-left:5px;
}
.quarantaAmple{
	width:40% !important;
}
.seixantaAmple{
	width:60% !important;
}
.baixaTitleBar{
	height:120px !important;
	padding-top:5px !important;
}
#descriptionCaptiontext{
	font-style: italic;
	font-size: 0.8em;
	line-height: 2em;
}
#rightInfoSide{
	float: right;
	color:white;
	margin-top: -30px;
	font-size: 0.8em;
	text-align: right;
	line-height: 1.5em;
}